.container-not-found{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-not-found ul{
    list-style: none;
}

.container-not-found ul .erro{
    font-size: 80px;
    padding: 0 0 15px 50px;
    color: #081552E5;
    font-weight: bold;
}

.container-not-found ul .erro-text{
    font-size: 50px;
    padding: 0 0 15px 50px;
    color: #081552E5;
    font-weight: bold;
}